<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/mystyle.css">
</head>

<body>
    <div class="contenu">
        <div class="header">
            <h1 class="titre">APPLICATION DE GESTION <br> DE SEMINAIRES</h1>
        </div>
        <div class="menu">
            <ul>
                <li><a class="button" href="/seminaire">Seminaires</a></li>
                <li><a class="button" href="/personne">Personnes</a></li>
                <li><a class="button" href="/animation">Animations</a></li>
            </ul>
        </div>
    </div>
</body>

</html>